<div class="wrapper">
    <partial name="TopBarPartial" view-data="ViewData"/>
    <div class="Repositories">
        <h5 style="display: inline-block;">Repositories</h5>
        <a href="/new"><button><img src="https://cdn.imgbin.com/22/15/7/imgbin-repository-github-computer-icons-github-6vAEM7F7qce3NEvFibdXV90Dh.jpg" alt=""> New</button></a>
        <form asp-action="" asp-controller="Home" method="POST"> <!-- likely needs change -->
            <input type="text" placeholder="Find a repository...">
        </form>
        <!-- need foreach loop for repositories the user has contributed to -->
    </div>
    <div class="FollowedBox">
        <div class="FollowedNews">
            <!-- need foreach loop for following-user activity -->
        </div>
        <div class="ExploreRepos">
            <!-- need foreach loop for 3(maybe 5) random repositories from anyone -->
        </div>
    </div>
</div>
