@model User;

<div class="wrapper">
    <div class="topbar">
        <img style="margin-left: 10%;" src="https://onlinejpgtools.com/images/examples-onlinejpgtools/github-logo-transparent-bg.gif" alt="HubGitCat">
        <a class="dropdown" href="/none">Why HubGit?</a>
        <a href="/none">Enterprise</a>
        <a class="dropdown" href="/none">Explore</a>
        <a href="/none">Marketplace</a>
        <a class="dropdown" href="/none">Pricing</a>
        <form style="display: inline-block; margin-left: 25%;" asp-action="" asp-controller="Home" method="POST">
            <input type="text" placeholder="Search HubGit">
        </form>
        <a href="/Login">Sign in</a>
        <a href="/none">Sign up</a>
    </div>
    <div class="signupsection">
        <div class="SignUpBox">
            <form asp-action="SignUp" asp-controller="Home" method="POST">
                <h5><label for="UserName">Username</label></h5>
                <input style="background-color: rgb(232, 240, 254);" asp-for="UserName" type="text"><br>
                <span asp-validation-for="UserName"></span>
                <h5><label for="Email">Email</label></h5>
                <input asp-for="Email" type="text"><br>
                <span asp-validation-for="Email"></span>
                <h5><label for="Password">Password</label></h5>
                <input style="background-color: rgb(232, 240, 254);" asp-for="Password" type="password"><br>
                <!-- Below portion needs work -->
                @{
                    if(ViewData.ModelState.IsValid)
                    {
                        <p style="color: green;">Make sure your password is at least 8 characters long.</p>
                    }
                    else
                    {
                        <p style="color: red;">Make sure your password is at least 8 characters long.</p>
                    }
                }
                <!-- <span asp-validation-for="Password"></span><br> -->
                <button type="submit">Sign up for HubGit</button>
            </form>
        </div>
    </div>
    <p style="font-size: 10px;">HubGit is not meant for any commercial purposes, only for personal coding improvement. Thank you.</p>
</div>