<div class="wrapper">
    <div class="topbar">
        <img style="margin-left: 10%;" src="https://onlinejpgtools.com/images/examples-onlinejpgtools/github-logo-transparent-bg.gif" alt="HubGitCat">
        <a class="dropdown" href="">Why HubGit?</a>
        <a href="">Enterprise</a>
        <a class="dropdown" href="">Explore</a>
        <a href="">Marketplace</a>
        <a class="dropdown" href="">Pricing</a>
        <form style="display: inline-block; margin-left: 25%;" asp-action="" asp-controller="Home" method="POST">
            <input type="text" value="Search HubGit">
        </form>
        <a href="">Sign in</a>
        <a href="">Sign up</a>
    </div>
    <div class="signupbox">
        <h2>Sign Up</h2>
    </div>
</div>