@model Login;

<div class="wrapper" style="background-color: #f9f9f9;text-align: center; align-content: center;">
    <img class="LoginLogo" src="https://onlinejpgtools.com/images/examples-onlinejpgtools/github-logo-transparent-bg.gif" alt="">
    <p class="LoginLabel">Sign in to HubGit</p>
    <div class="SignInBox">
        <form asp-action="LoginProcess" asp-controller="Home" method="POST">
            <label>Username or Email</label><br>
            <input type="text" asp-for="UNEInput"><br>
            <label for="Password">Password</label><br>
            <input type="password" asp-for="Password"><br>
            <button type="submit">Sign in</button>
        </form>
    </div>
</div>