<div class="RepoMenuPartialContainer">
    <h1><img style="width:13px;" src="https://cdn.imgbin.com/22/15/7/imgbin-repository-github-computer-icons-github-6vAEM7F7qce3NEvFibdXV90Dh.jpg" alt=""> 
    <a style="font-weight:400;" href="/@ViewBag.CurrentUser.UserName">@ViewBag.CurrentUser.UserName</a> / 
    <a href="/@ViewBag.CurrentUser.UserName/@ViewBag.CurrentRepo.Name">@ViewBag.CurrentRepo.Name</a></h1>
</div>