<div class="TopBarSignedIn">
    <img src="https://onlinejpgtools.com/images/examples-onlinejpgtools/github-logo-transparent-bg.gif" alt="Catopus">
    <form style="display: inline-block;" asp-action="" asp-controller="Home" method="POST"> <!-- likely needs change -->
        <input type="text" placeholder="Search or jump to...">
    </form>
    <a href="/none">Pull requests</a>
    <a href="/none">Issues</a>
    <a href="/none">Marketplace</a>
    <a href="/none">Explore</a>
    <a href="/none" style="margin-left:47%;"><img style="width:20px;" src="https://camo.githubusercontent.com/9ae81219be0009a3b727e03e8ae1f009ec632d24/68747470733a2f2f696d6167652e666c617469636f6e2e636f6d2f69636f6e732f7376672f36312f36313037332e737667" alt="bell"></a>
    <div class="Dropdown">
        <button class="DropButton" onclick="Ndropdown()"><img style="width:20px;" src="https://i.ya-webdesign.com/images/png-white-plus-sign-6.png" alt="plus">▼</button>
        <div id="NewDropdown" class="dropdown-content">
            <a href="/new">New repository</a>
            <a href="">Import repository</a>
            <a href="">New gist</a>
            <a href="">New organization</a>
            <a href="">New project</a>
        </div>
    </div>
    <div class="Dropdown">
        <button class="DropButton" onclick="Adropdown()"><img style="width:20px;" src="https://icon-library.net/images/default-profile-icon/default-profile-icon-24.jpg" alt="">▼</button>
        <div id="AccountDropdown" class="dropdown-content">
            <a href="/@ViewBag.CurrentUser.UserName">Signed in as @ViewBag.CurrentUser.UserName</a>
            <a href="/@ViewBag.CurrentUser.UserName">Your profile</a>
            <a href="/@ViewBag.CurrentUser.UserName/repositories">Your repositories</a>
            <a href="">Your projects</a>
            <a href="">Your stars</a>
            <a href="">Your gists</a>
            <a href="">Feature preview</a>
            <a href="">Help</a>
            <a href="">Settings</a>
            <a href="">Sign out</a>
        </div>
    </div>
</div>

<script>
    function Ndropdown() 
    {
        document.getElementById("NewDropdown").classList.toggle("show");
    }

    function Adropdown() 
    {
        document.getElementById("AccountDropdown").classList.toggle("show");
    }

    window.onclick = function(event) 
    {
        if(!event.target.matches('.DropButton')) 
        {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) 
            {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) 
                {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>