<div class="TopBarSignedIn" >
    <img src="https://onlinejpgtools.com/images/examples-onlinejpgtools/github-logo-transparent-bg.gif" alt="HubGitCat">
    <form style="display: inline-block;" asp-action="" asp-controller="Home" method="POST"> <!-- likely needs change -->
        <input type="text" placeholder="Search or jump to...">
    </form>
    <a href="/none">Pull requests</a>
    <a href="/none">Issues</a>
    <a href="/none">Marketplace</a>
    <a href="/none">Explore</a>
    <a href="/none"><img style="width:20px; margin-left:47%;" src="https://camo.githubusercontent.com/9ae81219be0009a3b727e03e8ae1f009ec632d24/68747470733a2f2f696d6167652e666c617469636f6e2e636f6d2f69636f6e732f7376672f36312f36313037332e737667" alt="bell"></a>
    <a class="ClickDropdown" href="/none"><img style="width:20px;" src="https://i.ya-webdesign.com/images/png-white-plus-sign-6.png" alt="plus"></a>
    <a class="ClickDropdown" href="/none"><img style="width:20px;" src="https://icon-library.net/images/default-profile-icon/default-profile-icon-24.jpg" alt=""></a>
</div>